body {
  padding-top: 80px;
}
.navbar-brand .navbar-nav li a {
  line-height: 150px;
  height: 150px;
  padding-top: 0;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
.vertical-center {
  content: " ";
  display: inline-block;
  vertical-align: middle;
/* vertical alignment of the inline element */
  height: 100%;
}
