body {
  padding-top: 80px;
}
.navbar-brand .navbar-nav li a {
  line-height: 150px;
  height: 150px;
  padding-top: 0;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
.vertical-center {
  content: " ";
  display: inline-block;
  vertical-align: middle;
/* vertical alignment of the inline element */
  height: 100%;
}
.login-btn {
  padding-top: 5px;
  padding-bottom: 5px;
}
button.close {
  color: #0040d0;
}
.small-select {
  width: 300px;
}
.small-select > select {
  width: 200px;
  display: inline;
}
.small-select > button {
  margin-left: 10px;
  margin-bottom: 7px;
}
td > .well {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
td > .well-special {
  display: inline-block;
  margin-right: 20px;
}
