body {
  padding-top: 80px;
}
legend {
  color: #007196;
}
header {
  border-bottom: 1px solid;
}
.navbar-brand .navbar-nav li a {
  line-height: 150px;
  height: 150px;
  padding-top: 0;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
.vertical-center {
  content: " ";
  display: inline-block;
  vertical-align: middle;
/* vertical alignment of the inline element */
  height: 100%;
}
.login-btn {
  padding-top: 5px;
  padding-bottom: 5px;
}
button.close {
  color: #0040d0;
}
.small-select {
  width: 300px;
}
.small-select > select {
  width: 200px;
  display: inline;
}
.small-select > button {
  margin-left: 10px;
  margin-bottom: 7px;
}
td > .well {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
td > .well-special {
  display: inline-block;
  margin-right: 20px;
}
/* Home page styling */
.background-image {
  margin-top: -35px;
  height: 300px;
  background: url("../images/background-image.jpg") no-repeat center center;
  background-size: cover;
}
.transparent-background {
  height: 300px;
  background: rgba(0,113,150,0.3);
  border-bottom: 1px solid #006687;
}
h1 {
  margin-top: 100px;
  margin-left: 15px;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.simple-div {
  background: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 0px;
  display: none;
}
.newest {
  font-size: 24px;
  font-weight: 100;
  color: #007196;
}
.carousel-background {
  display: block;
  height: 300px;
  width: 100%;
}
.carousel-control {
  height: 50px;
  width: 50px;
  background: transparent;
}
.carousel-caption {
  left: 10%;
  right: 10%;
}
.book-title {
  display: inline-block;
  width: 30%;
  margin-right: 10px;
}
.book-title:last-of-type {
  margin-right: 0;
}
.book-title > a {
  color: #007196;
}
.carousel-indicators {
  bottom: 0px;
}
.carousel-indicators > li {
  border: 1px solid #007196;
}
.carousel-indicators > li.active {
  margin: 1px;
  width: 10px;
  height: 10px;
  background: #007196;
}
.left-arrow {
  top: 120px;
  left: 20px;
  cursor: pointer;
}
.right-arrow {
  top: 120px;
  right: 20px;
  left: auto;
  cursor: pointer;
}
.slider-img {
  width: 120px;
  height: 170px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #fff;
}
.slider-img:hover {
  border: 1px solid #007196;
}
/* Book search Styling */
.advanced-search {
  display: none;
  margin-bottom: 15px;
}
.main-search {
  margin-bottom: 15px;
}
.search-title {
  font-size: 24px;
  font-weight: 100;
  color: #007196;
  text-align: center;
  margin-bottom: 20px;
}
.show-advanced-search,
.hide-advanced-search {
  padding: 8px 12px;
  background: #5bc0de;
  border: 1px solid #46b8da;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  outline: 0;
  margin-right: 20px;
}
.hide-advanced-search {
  background: #e99002;
  border: 1px solid #d08002;
  display: none;
/* Book list styling */
}
.search-table {
  text-align: center;
}
.books-list-info {
  display: inline-block;
  text-align: center;
  width: 300px;
  margin: 5px 5px 5px 5px;
  padding: 30px 30px 30px 30px;
  border: 1px solid transparent;
}
.books-list-info:hover {
  border: 1px solid #99d1e3;
  background: #f2f9fc;
  border-radius: 5px;
}
.title-height {
  height: 60px;
  margin-bottom: 20px;
}
.books-list-title {
  font-size: 21px;
  font-weight: 300;
}
.books-list-img {
  width: 150px;
  height: 220px;
}
.books-list-auth-surround {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
.books-list-auth-position {
  width: 150px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.img-and-attributes-position {
  position: relative;
}
.img-hover-effect {
  background: #003f54;
  opacity: 0.7;
  width: 150px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
.books-list-auth {
  position: relative;
  z-index: 1;
  top: 80px;
  left: 0;
}
.books-list-auth > div:last-of-type {
  margin-top: 10px;
/* Book Details Styling */
}
.book-heading {
  text-align: center;
  margin-bottom: 30px;
  color: #007196;
}
.extra-decoration {
  margin-right: 5px;
}
ul.book-info {
  padding: 0;
  float: left;
  width: 50%;
}
li.info-decoration {
  font-size: 15px;
  color: #007196;
  list-style: none;
  margin-bottom: 10px;
}
.summary-buttons {
  text-align: left;
  list-style: none;
  margin-top: 20px;
}
.show-summary,
.show-table {
  color: #007196;
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.hide-summary,
.hide-table {
  display: none;
  color: #007196;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
.summary {
  display: none;
  color: #007196;
  margin-bottom: 20px;
  margin-top: 20px;
}
.show-table,
.hide-table {
  margin-top: 0;
}
.input-img {
  margin: 40px 0 20px 0;
  width: 240px;
  height: 320px;
  float: left;
}
.centered-img {
  width: 240px;
  height: 320px;
  float: right;
  margin-right: 50px;
}
.update-book {
  font-size: 12px;
  line-height: 1.5;
  margin-right: 20px;
}
.request-like-buttons {
  text-align: right;
}
.request-buttons {
  margin-bottom: 20px;
}
.like-buttons {
  display: block;
}
.like-button {
  padding: 8px 12px;
  color: #fff;
  background: #1f8f1f;
  line-height: 1.5;
  font-size: 12px;
  border: 1px solid #1f8f1f;
}
.dislike-button {
  padding: 8px 12px;
  color: #fff;
  background: #c00;
  line-height: 1.5;
  font-size: 12px;
  border: 1px solid #c00;
}
.show-requests-when-hover,
.show-likes-when-hover {
  display: none;
  text-align: left;
  background: #595959;
  color: #fff;
  font-size: 11px;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  right: 70px;
}
.show-requests-when-hover {
  top: 45px;
}
.show-likes-when-hover {
  top: 100px;
}
.request-like-names {
  margin: 3px 8px 0 8px;
}
.request-like-names:last-of-type {
  margin-bottom: 5px;
}
.number-requests-likes {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  background: #ccc;
  color: #404040;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
}
.update-and-info {
  float: right;
  margin-top: 200px;
}
/* Add book buttons */
.format-buttons {
  width: 100%;
  text-align: center;
}
.add-book-buttons {
  display: inline block;
  margin-top: 20px;
  margin-bottom: 50px;
}
.isbn-button {
  margin-right: 10px;
}
/* Add book manually styling */
.form-horizontal .form-group span {
  font-weight: 400;
  color: #007196;
  font-size: 14px;
}
.form-horizontal .form-group label {
  width: 80%;
}
/* Book history Styling (admin-book.jade) */
.book-information {
  display: none;
}
.show-admin-book {
  padding: 8px 12px;
  background: #007196;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #007196;
  outline: 0;
}
.hide-admin-book {
  display: none;
  padding: 8px 12px;
  background: #fff;
  color: #007196;
  line-height: 1.5;
  font-size: 12px;
  border: 1px solid #007196;
  outline: 0;
}
.admin-book-titles {
  color: #007196;
}
