body
 padding-top 80px
header
 border-bottom 1px solid
.navbar-brand .navbar-nav li a
    line-height: 150px
    height: 150px
    padding-top: 0


.navbar-right .navbar-form
  input
    margin-right 10px
  a.btn
    margin-left 10px

.toast-top-right
  top 70px

footer
  padding-left 120px
  padding-right 120px
  p
    border-top 1px solid #808080
    padding-top 10px

.vertical-center
  content: " "
  display: inline-block
  vertical-align: middle;   /* vertical alignment of the inline element */
  height: 100%

.login-btn
  padding-top 5px
  padding-bottom 5px

button.close
  color #0040D0
.small-select
  width: 300px
.small-select > select
  width 200px
  display inline
.small-select > button
  margin-left 10px
  margin-bottom 7px

td > .well
  padding-top 10px
  padding-bottom 10px
  margin-bottom 0px

td > .well-special
  display inline-block
  margin-right 20px

/* Home page styling */
.background-image
  margin-top -35px
  height 300px
  background url('../images/background-image.jpg') no-repeat center center
  background-size cover
.transparent-background
  height 300px
  background rgba(0, 113, 150, 0.3)
  border-bottom 1px solid #006687
h1
  margin-top: 100px
  margin-left:15px
  color #ffffff
  font-size 60px
  font-weight 400
.simple-div
  background #ffffff
  width 50px
  height 50px
  position absolute
  top 50px
  left 0px
  display none
.newest
  font-size: 24px
  font-weight 100
  color #007196

.carousel-background
  display block
  height 300px
  width 100%
.carousel-control
  height 50px
  width 50px
  background transparent
.carousel-caption
  left 10%
  right 10%
.book-title
  display inline-block
  width 30%
  margin-right 10px
.book-title:last-of-type
  margin-right 0
.book-title > a
  color #007196
.carousel-indicators
  bottom 0px
.carousel-indicators > li
  border 1px solid #007196
.carousel-indicators > li.active
  margin 1px
  width 10px
  height 10px
  background #007196
.left-arrow
  top 120px
  left 20px
  cursor pointer
.right-arrow
  top 120px
  right 20px
  left auto
  cursor pointer

.slider-img
  width:120px
  height 170px
.input-img
  width:190px
  height 240px

.advanced-search
  display none
  margin-bottom 15px
.main-search
  margin-bottom 15px
.search-title
  font-size: 24px
  font-weight 100
  color #007196
  text-align center
  margin-bottom 20px
.buttons-position
  text-align center
.show-advanced-search, .hide-advanced-search
  padding 8px 12px
  background #5bc0de
  border 1px solid #46b8da
  font-size 12px
  line-height 1.5
  color #ffffff
  outline 0
.hide-advanced-search
  background #e99002
  border 1px solid #d08002
.hide-advanced-search
  display none
table
  display none
