.container
    table.table.table-striped.table-hover
        tr
            th Заглавие
            th Автор
            th
        tr(ng-repeat="book in books")
            td
                a(href="#/admin/books/{{ book._id }}") {{ book.title }}
            td {{ book.author }}
            td
                button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="removeBook(book)") x