.container
    table.table
        tr(ng-repeat="user in users")
            td {{ user.firstName }}
            td {{ user.lastName }}
            td
             span(ng-repeat="role in user.roles") {{ role }}
