doctype
html
    head
        title MySchoolLib
        meta(name="google-site-verification" content="Nxj0pT2bdz7f8qaQA94tM5pKReztGeStSZ4ZRW7ZmNU")
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")

    body(ng-app="app")
        block main-content

        include scripts
        include currentUser

