.format-buttons
    .add-book-buttons
            a.btn.btn-lg.btn-primary.isbn-button(href="#/libAdmin/add-book-by-isbn") От ISBN
            a.btn.btn-lg.btn-primary(href="#/libAdmin/add-book-manual") Ръчно