table.table.table-striped.table-hover
    tr.admin-book-titles
        th   Потребител
        th   Дата на взимане
        th   Дата на връщане
    tr(ng-repeat="log in book.log")
        td {{ log.takenBy.userFirstName }} {{ log.takenBy.userLastName }}
        td {{ log.takenDate | date }}
        td {{ log.returnDate | date }}
