.container
    .row
        .col-md-2.vertical-center Търси
        .col-md-4
            input.form-control(type="text", placeholder="Търси", ng-model="search")
    br
    table.table.table-striped.table-hover
        tr
            th
                a(href="" ng-click="predicate = 'title'; reverse=!reverse") Заглавие
            th
                a(href="" ng-click="predicate = 'author'; reverse=!reverse") Автор
            th
            th
        tr(ng-repeat="book in books | filter: search | orderBy:predicate:reverse")
            td
                a(href="#/books/{{ book._id }}") {{ book.title }}
            td {{ book.author }}

            td(ng-show="isBookAvailable(book)")
             .well.well-special в наличност

            td.small-select(ng-show="canBookBeTaken(book)")
                    select.form-control#select(ng-model="userData")
                        option(ng-repeat="request in book.status.requestedBy" value="{{ request }}") {{ request.userFirstName }} {{ request.userLastName }}
                    button.btn.btn-warning.btn-sm(ng-click="giveBookToUser(book,userData)") Дай

            td(ng-show="isBookTaken(book)")
                .well.well-special    в {{ book.status.takenBy.userFirstName }} {{ book.status.takenBy.userLastName }}
                button.btn.btn-warning.btn-sm(ng-click="returnBook(book)") Върни

            td
                button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="removeBook(book)") x