.container
    .row
        .col-md-2.vertical-center Търси
        .col-md-4
            input.form-control(type="text", placeholder="Търси", ng-model="search")
        //.col-md-2 Сортирай
        //.col-md-4
        //    select.form-control(ng-model="sort")
        //        option(value=" " ng-selected="'true'") По подразбиране
        //        option(value="title") Заглавие
        //        option(value="author") Автор
        //        option(value="boughtDate") Дата на добавяне
    br
    table.table.table-striped.table-hover
        tr
            th
                a(href="" ng-click="sort = 'title'") Заглавие
            th
                a(href="" ng-click="sort = 'author'") Автор
            th
                a(href="" ng-click="sort = 'boughtDate'") Дата
            th
                a(href="" ng-click="sort = 'currentStatus'") Статус
            th
        tr(ng-repeat="book in books | filter: search | orderBy: sort")
            td
                a(href="#/books/{{ book._id }}") {{ book.title }}
            td {{ book.author }}
            td {{ book.boughtDate | date }}
            td
              .well {{ currentStatus(book) }}
            td(ng-show="identity.isAuthenticated()")
                button.btn.btn-info.btn-sm(ng-show="canBeRequested(book)" ng-click="addRequestToBookAndUser(book)") Request
                button.btn.btn-warning.btn-sm(ng-show="canRequestBeCanceled(book)" ng-click="removeRequestFromBookAndUser(book)" ) Cancel request
