
.container
    h2.book-heading {{ book.title }}
    .row
        .col-md-8
            ul.book-info
                li.info-decoration
                   span.extra-decoration
                        | Издателство:
                   b
                        | {{ book.publisher }}

                li.info-decoration
                    span.extra-decoration
                        | Автор:
                    b
                        | {{ book.author }}

                li.info-decoration
                    span.extra-decoration
                        | Година:
                    b
                        | {{ book.publishedDate }}

                li.info-decoration
                    span.extra-decoration
                        | ISBN:
                    b
                        | {{ book.isbn }}

                li.info-decoration
                    span.extra-decoration
                        | Статус:
                    b
                        | {{ status }}
                li.summary-buttons
                    a.show-summary
                        | Резюме
                    a.hide-summary
                        | Скрий резюме
                    .summary
                        | {{ book.summary }}

            img.book-cover.centered-img(ng-src="{{ book.cover }}")

        .col-md-4

                div(ng-show="identity.isAuthenticated()")
                    .request-like-buttons
                        .request-buttons(ng-hide="currentBook.isBookTakenByCurrentUser(book)")
                            .number-requests-likes.number-requests {{ book.requestsCount }}

                            button.btn.btn-info.btn-sm.request-button(ng-show="canBeRequested(book)" ng-click="addRequestToBookAndUser(book)") Заяви
                            div.request-button-container(ng-show="canRequestBeCanceled(book)")
                                button.btn.btn-warning.btn-sm.unrequest-button.remove-when-hover-2 Заявена
                                button.btn.btn-warning.btn-sm.unrequest-button.show-when-hover-2(ng-click="removeRequestFromBookAndUser(book)" ) Отказ на заявка
                            div.show-requests-when-hover
                                div.request-like-names(ng-repeat="(key, value) in currentStatus(book)") {{ value }}
                        span.show-when-book-taken(ng-show="currentBook.isBookTakenByCurrentUser(book)") Книгата е взета от Вас!
                        .like-buttons
                            .number-requests-likes.number-likes {{ book.likesCount }}

                            button.like-button(ng-show="canBeLiked(book)" ng-click="addLikeToBook(book)") Харесай
                            div.like-button-container(ng-show="canLikeBeCanceled(book)")
                                button.dislike-button.remove-when-hover Харесана
                                button.dislike-button.show-when-hover(ng-click="removeLikeFromBook(book)") Не ми харесва
                            div.show-likes-when-hover
                                div.request-like-names(ng-repeat="(key, value) in currentLikes(book)") {{ value }}

                .update-and-info
                    a.btn.btn-primary.update-book(href="#/libAdmin/update-book/{{ book._id }}" ng-show="identity.currentUser.isLibAdmin()") Обнови книга

                    button.show-admin-book(ng-show="identity.currentUser.isLibAdmin()")
                        | Информация
                    button.hide-admin-book(ng-show="identity.currentUser.isLibAdmin()")
                        | Скрий информация


    .row
        .container.book-information(ng-show="identity.currentUser.isLibAdmin()" ng-include="'/partials/libAdmin/admin-book'")






