
.container
    h2.book-heading {{ book.title }}
    .row
        .col-md-1
        .col-md-3

            div.info-decoration.right-text
               span.extra-decoration
                | Издателство:
               b
                | {{ book.publisher }}
        .col-md-2

            div.info-decoration.center-text
                span.extra-decoration
                 | Година:
                b
                    | {{ book.publishedDate }}
        .col-md-2
            div.info-decoration.center-text
                span.extra-decoration
                 | ISBN:
                b
                    | {{ book.isbn }}
        .col-md-3
            div.info-decoration.left-text
                span.extra-decoration
                 | Статус:
                b
                    | {{ status }}
        .col-md-1

    .row
        .col-md-8
            //TODO: summary needs to be formated
            .summary-request
                .summary-buttons
                    button.show-summary
                        | Резюме
                    button.hide-summary
                        | Скрий резюме
                .summary
                    | {{ book.summary }}
                div(ng-show="identity.isAuthenticated()")
                    button.btn.btn-info.btn-sm(ng-show="canBeRequested(book)" ng-click="addRequestToBookAndUser(book)") Request
                    button.btn.btn-warning.btn-sm(ng-show="canRequestBeCanceled(book)" ng-click="removeRequestFromBookAndUser(book)" ) Cancel request
            img.centered-img(ng-src="{{ book.cover }}")
        .col-md-4
            img.hidden-book(ng-src="{{ book.cover }}")





