.container
    .row
        .col-md-2.vertical-center Търси
        .col-md-5
            input.form-control(type="text", placeholder="Заглавие", ng-model="search.title")
        .col-md-5
            input.form-control(type="text", placeholder="Автор", ng-model="search.author")
    br
    table.table.table-striped.table-hover
        tr
            th
                a(href="" ng-click="predicate = 'title'; reverse=!reverse") Заглавие
            th
                a(href="" ng-click="predicate = 'author'; reverse=!reverse") Автор
            th
                a(href="" ng-click="predicate = 'boughtDate'; reverse=!reverse") Дата
            th  Статус
            th
            .container(ng-if="search")
        tr(ng-repeat="book in books | filter: search:strict | orderBy:predicate:reverse")
            td
                a(href="#/books/{{ book._id }}") {{ book.title }}
            td {{ book.author }}
            td {{ book.boughtDate | date }}
            td
              .well {{ currentStatus(book) }}
            td(ng-show="identity.isAuthenticated()")
                button.btn.btn-info.btn-sm(ng-show="canBeRequested(book)" ng-click="addRequestToBookAndUser(book)") Request
                button.btn.btn-warning.btn-sm(ng-show="canRequestBeCanceled(book)" ng-click="removeRequestFromBookAndUser(book)" ) Cancel request
