.container
    .row
        .col-md-3
        .col-md-6.buttons-position
            p.search-title
                | Търси:
            input.form-control.main-search(type="text", placeholder="Заглавие, автор ...", ng-model="search")

        .col-md-3

    .row
        .col-md-1
        .col-md-5
            input.form-control.advanced-search(type="text", placeholder="Заглавие", ng-model="search.title")
        .col-md-5
            input.form-control.advanced-search(type="text", placeholder="Автор", ng-model="search.author")
        .col-md-1
    .row
        .col-md-5
        .col-md-2.buttons-position
            button.show-advanced-search(type="submit" value="button")
                | Подробно търсене
            button.hide-advanced-search(type="submit" value="button")
                | Обобщено търсене
        .col-md-5
            button.show-table
                | Покажи всички книги
            button.hide-table
                | Скрий всички книги
    br
    table.table.table-striped.table-hover.search-table
        tr
            th
                a(href="" ng-click="sort = 'title'") Заглавие
            th
                a(href="" ng-click="sort = 'author'") Автор
            th
                a(href="" ng-click="sort = 'boughtDate'") Дата
            th
                a(href="" ng-click="sort = 'currentStatus'") Статус
            th
        tr(ng-repeat="book in books | filter: search | orderBy: sort")
            td
                a(href="#/books/{{ book._id }}") {{ book.title }}
            td {{ book.author }}
            td {{ book.boughtDate | date }}
            td
              .well {{ currentStatus(book) }}
            td(ng-show="identity.isAuthenticated()")
                button.btn.btn-info.btn-sm(ng-show="canBeRequested(book)" ng-click="addRequestToBookAndUser(book)") Заяви
                button.btn.btn-warning.btn-sm(ng-show="canRequestBeCanceled(book)" ng-click="removeRequestFromBookAndUser(book)" ) Отказ на заявка
