.container
    h2 {{ book.title }}
    p {{ book.boughtDate | date }}
    div(ng-repeat="tag in book.tags") Тагове(?) {{ tag }}

    div Издателство: {{ book.publisher }}
    div Година на издаване: {{ book.publishedDate }}
    div Статус: {{ status }}
        //TODO: summary needs to be formated
    div Кратко резюме: {{ book.summary }}

