.container
    .row
        .col-md-3
        .col-md-6.buttons-position
            p.search-title
                | Търси:
            input.form-control.main-search(type="text", placeholder="Заглавие, автор ...", ng-model="search")

        .col-md-3

    .row
        .col-md-1
        .col-md-5
            input.form-control.advanced-search(type="text", placeholder="Заглавие", ng-model="search.title")
            input.form-control.advanced-search(type="number", placeholder="ISBN", ng-model="search.isbn")
        .col-md-5
            input.form-control.advanced-search(type="text", placeholder="Автор", ng-model="search.author")
            input.form-control.advanced-search(type="text", placeholder="Издателство", ng-model="search.publisher")
        .col-md-1
    .row
        .col-md-5
        .col-md-7
            button.show-advanced-search(type="submit" value="button")
                | Подробно търсене
            button.hide-advanced-search(type="submit" value="button")
                | Обобщено търсене

    br
    .table.table-striped.table-hover.search-table
        // tr
            th
                a(href="" ng-click="sort = 'title'") Заглавие
            th
                a(href="" ng-click="sort = 'author'") Автор
            th
                a(href="" ng-click="sort = 'boughtDate'") Дата
            th
                a(href="" ng-click="sort = 'currentStatus'") Статус
            th //

        .books-list-info(dir-paginate="book in books | filter:search | itemsPerPage: pageSize" current-page="currentPage" pagination-id="booksPagination" ng-mouseenter="show = true" ng-mouseleave="show = false")
                .title-height
                    a.books-list-title(href="#/books/{{ book._id }}" ng-show="show")
                        | {{ book.title }}
                .img-and-attributes-position
                    a.books-list-info-img(href="#/books/{{ book._id }}")
                        img.book-cover.books-list-img(ng-src="{{ book.cover }}" alt="Image not found" onError="this.onerror=null;this.src='../../images/no_book_cover_4.jpg';")
                    .books-list-auth-surround(ng-show="show")
                        .books-list-auth-position(ng-show="identity.isAuthenticated()")
                            a.img-hover-effect(href="#/books/{{ book._id }}")
                            .books-list-auth(ng-show="identity.isAuthenticated()")
                                div
                                    button.btn.btn-info.btn-sm.request-button(ng-show="canBeRequested(book)" ng-click="addRequestToBookAndUser(book)") Заяви
                                    div.request-button-container(ng-show="canRequestBeCanceled(book)")
                                        button.btn.btn-warning.btn-sm.unrequest-button.remove-when-hover-2 Заявена
                                        button.btn.btn-warning.btn-sm.unrequest-button.show-when-hover-2(ng-click="removeRequestFromBookAndUser(book)" ) Отказ на заявка
                                div
                                    button.like-button(ng-show="canBeLiked(book)" ng-click="addLikeToBook(book)") Харесай
                                    div.like-button-container(ng-show="canLikeBeCanceled(book)")
                                        button.dislike-button.remove-when-hover Харесана
                                        button.dislike-button.show-when-hover(ng-click="removeLikeFromBook(book)") Не ми харесва
    div.text-center
        dir-pagination-controls(boundary-links="true" pagination-id="booksPagination" on-page-change="pageChangeHandler(newPageNumber)" template-url="../../lib/angular-utils-pagination/dirPagination.tpl.html")