
.container
    h2.book-heading {{ book.title }}
    .row
        .col-md-1
        .col-md-3

            div.info-decoration.right-text
               span.extra-decoration
                | Издателство:
               b
                | {{ book.publisher }}
        .col-md-2

            div.info-decoration.center-text
                span.extra-decoration
                 | Година:
                b
                    | {{ book.publishedDate }}
        .col-md-2
            div.info-decoration.center-text
                span.extra-decoration
                 | ISBN:
                b
                    | {{ book.isbn }}
        .col-md-3
            div.info-decoration.left-text
                span.extra-decoration
                 | Статус:
                b
                    | {{ status }}
        .col-md-1

    .row
        .col-md-8
            .summary-request
                .summary-buttons
                    button.show-summary
                        | Резюме
                    button.hide-summary
                        | Скрий резюме
                .summary
                    | {{ book.summary }}
                div(ng-show="identity.isAuthenticated()")
                    button.btn.btn-info.btn-sm(ng-show="canBeRequested(book)" ng-click="addRequestToBookAndUser(book)") Заяви
                    button.btn.btn-warning.btn-sm(ng-show="canRequestBeCanceled(book)" ng-click="removeRequestFromBookAndUser(book)" ) Отказ на заявка
                button.show-admin-book(ng-show="identity.currentUser.isLibAdmin()")
                    | Информация
                button.hide-admin-book(ng-show="identity.currentUser.isLibAdmin()")
                    | Скрий информация
            img.centered-img(ng-src="{{ book.cover }}")
        .col-md-4
            img.hidden-book(ng-src="{{ book.cover }}")


    .row
        .container.book-information(ng-show="identity.currentUser.isLibAdmin()" ng-include="'/partials/libAdmin/admin-book'")



    a.btn.btn-primary(href="#/libAdmin/update-book/{{ book._id }}" ng-show="identity.currentUser.isLibAdmin()") Обнови книга


