.background-image
    .transparent-background
        .container
            h1 НПМГ Библиотека


.container
    .row
        .col-md-12
            .panel-body(ng-include="'/partials/main/new-books'")