p.newest
    | Най-новите книги:

div(class="carousel-example-generic" class="carousel slide" data-ride="carousel")

    ol(class="carousel-indicators")
        li(data-target=".carousel-example-generic" data-slide-to="0" class="active")
        li(data-target=".carousel-example-generic" data-slide-to="1")
        li(data-target=".carousel-example-generic" data-slide-to="2")


    div(class="carousel-inner")
        div(class="item active")
            div.carousel-background
            div(class="carousel-caption")
                div(ng-repeat="book in books | orderBy: '-boughtDate'" ng-if="$index>=0 && $index<=2" class="book-title")
                    a(href="#/books/{{ book._id }}")
                        img.book-cover.row.slider-img(ng-src="{{ book.cover }}" alt="Image not found" onError="this.onerror=null;this.src='../../images/no_book_cover_4.jpg';")
                        p {{ bookTitle(book) }}


        div(class="item")
            div.carousel-background
            div(class="carousel-caption")
                div(ng-repeat="book in books | orderBy: '-boughtDate'" ng-if="$index>2 && $index<=5" class="book-title")
                    a(href="#/books/{{ book._id }}")
                        img.book-cover.row.slider-img(ng-src="{{ book.cover }}" alt="Image not found" onError="this.onerror=null;this.src='../../images/no_book_cover_4.jpg';")
                        p {{ bookTitle(book) }}

        div(class="item")
            div.carousel-background
            div(class="carousel-caption")
                div(ng-repeat="book in books | orderBy: '-boughtDate'" ng-if="$index>5 && $index<=8" class="book-title")
                    a(href="#/books/{{ book._id}}")
                        img.book-cover.row.slider-img(ng-src="{{ book.cover }}" alt="Image not found" onError="this.onerror=null;this.src='../../images/no_book_cover_4.jpg';")
                        p {{ bookTitle(book) }}




    img(src="../images/left-arrow.png" class="left-arrow carousel-control" href=".carousel-example-generic" role="button" data-slide="prev")

    img(src="../images/right-arrow.png" class="right-arrow carousel-control" href=".carousel-example-generic" role="button" data-slide="next")


